Deep Learning Assignment 3

References:
Code source 1: https://medium.com/swlh/stock-price-prediction-with-pytorch-37f52ae84632

In [1]:
import pandas as pd

data = pd.read_csv("AAPL_2006-01-01_to_2018-01-01.csv")
data

            Date    Open    High     Low   Close     Volume  Name
0     2006-01-03   10.34   10.68   10.32   10.68  201853036  AAPL
1     2006-01-04   10.73   10.85   10.64   10.71  155225609  AAPL
2     2006-01-05   10.69   10.70   10.54   10.63  112396081  AAPL
3     2006-01-06   10.75   10.96   10.65   10.90  176139334  AAPL
4     2006-01-09   10.96   11.03   10.82   10.86  168861224  AAPL
...          ...     ...     ...     ...     ...        ...   ...
3014  2017-12-22  174.68  175.42  174.50  175.01   16349444  AAPL
3015  2017-12-26  170.80  171.47  169.68  170.57   33185536  AAPL
3016  2017-12-27  170.10  170.78  169.71  170.60   21498213  AAPL
3017  2017-12-28  171.00  171.85  170.48  171.08   16480187  AAPL
3018  2017-12-29  170.52  170.59  169.22  169.23   25999922  AAPL

[3019 rows x 7 columns]

In [2]:
from sklearn.preprocessing import MinMaxScaler
price = data[['Close']]
scaler = MinMaxScaler(feature_range=(-1, 1))
price['Close'] = scaler.fit_transform(price['Close'].values.reshape(-1,1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [3]:
price

         Close
0    -0.959333
1    -0.958979
2    -0.959924
3    -0.956732
4    -0.957205
...        ...
3014  0.983331
3015  0.930843
3016  0.931198
3017  0.936872
3018  0.915002

[3019 rows x 1 columns]

In [5]:
import numpy as np
def split_data(stock, lookback):
    data_raw = stock.to_numpy() # convert to numpy array
    data = []
    
    # create all possible sequences of length seq_len
    for index in range(len(data_raw) - lookback): 
        data.append(data_raw[index: index + lookback])
    
    data = np.array(data);
    test_set_size = int(np.round(0.2*data.shape[0]));
    train_set_size = data.shape[0] - (test_set_size);
    
    x_train = data[:train_set_size,:-1,:]
    y_train = data[:train_set_size,-1,:]
    
    x_test = data[train_set_size:,:-1]
    y_test = data[train_set_size:,-1,:]
    
    return [x_train, y_train, x_test, y_test]

lookback = 20 # choose sequence length
x_train, y_train, x_test, y_test = split_data(price, lookback)

In [6]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(2399, 19, 1)
(2399, 1)
(600, 19, 1)
(600, 1)

In [7]:
import torch
import torch.nn as nn
x_train = torch.from_numpy(x_train).type(torch.Tensor)
x_test = torch.from_numpy(x_test).type(torch.Tensor)
y_train_lstm = torch.from_numpy(y_train).type(torch.Tensor)
y_test_lstm = torch.from_numpy(y_test).type(torch.Tensor)
y_train_gru = torch.from_numpy(y_train).type(torch.Tensor)
y_test_gru = torch.from_numpy(y_test).type(torch.Tensor)

In [14]:
input_dim = 1
hidden_dim = 32
num_layers = 2
output_dim = 1
num_epochs = 100

In [15]:
class LSTM(nn.Module):
    def __init__(self, input_dim, hidden_dim, num_layers, output_dim):
        super(LSTM, self).__init__()
        self.hidden_dim = hidden_dim
        self.num_layers = num_layers
        
        self.lstm = nn.LSTM(input_dim, hidden_dim, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_dim).requires_grad_()
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_dim).requires_grad_()
        out, (hn, cn) = self.lstm(x, (h0.detach(), c0.detach()))
        out = self.fc(out[:, -1, :]) 
        return out

In [16]:
model = LSTM(input_dim=input_dim, hidden_dim=hidden_dim, output_dim=output_dim, num_layers=num_layers)
criterion = torch.nn.MSELoss(reduction='mean')
optimiser = torch.optim.Adam(model.parameters(), lr=0.01)

In [17]:
import time
hist = np.zeros(num_epochs)
start_time = time.time()
lstm = []
for t in range(num_epochs):
    y_train_pred = model(x_train)
    loss = criterion(y_train_pred, y_train_lstm)
    print("Epoch ", t, "MSE: ", loss.item())
    hist[t] = loss.item()
    optimiser.zero_grad()
    loss.backward()
    optimiser.step()
    
training_time = time.time()-start_time
print("Training time: {}".format(training_time))

Epoch  0 MSE:  0.5906404852867126
Epoch  1 MSE:  0.43337318301200867
Epoch  2 MSE:  0.2729237675666809
Epoch  3 MSE:  0.12233077734708786
Epoch  4 MSE:  0.3617275357246399
Epoch  5 MSE:  0.1729903221130371
Epoch  6 MSE:  0.1104547530412674
Epoch  7 MSE:  0.13606098294258118
Epoch  8 MSE:  0.16169512271881104
Epoch  9 MSE:  0.16986508667469025
Epoch  10 MSE:  0.16291993856430054
Epoch  11 MSE:  0.14542743563652039
Epoch  12 MSE:  0.12166845798492432
Epoch  13 MSE:  0.0959242433309555
Epoch  14 MSE:  0.07281968742609024
Epoch  15 MSE:  0.056432243436574936
Epoch  16 MSE:  0.04769522324204445
Epoch  17 MSE:  0.04215472191572189
Epoch  18 MSE:  0.032755788415670395
Epoch  19 MSE:  0.023896588012576103
Epoch  20 MSE:  0.02778245136141777
Epoch  21 MSE:  0.028741175308823586
Epoch  22 MSE:  0.021386312320828438
Epoch  23 MSE:  0.012874709442257881
Epoch  24 MSE:  0.008568307384848595
Epoch  25 MSE:  0.007945106364786625
Epoch  26 MSE:  0.008936001919209957
Epoch  27 MSE:  0.010338063351809978
Epoch  28 MSE:  0.011607606895267963
Epoch  29 MSE:  0.012344763614237309
Epoch  30 MSE:  0.012182471342384815
Epoch  31 MSE:  0.010992785915732384
Epoch  32 MSE:  0.009093458764255047
Epoch  33 MSE:  0.007159550674259663
Epoch  34 MSE:  0.005830095149576664
Epoch  35 MSE:  0.005319083109498024
Epoch  36 MSE:  0.005358091555535793
Epoch  37 MSE:  0.005505881272256374
Epoch  38 MSE:  0.0055364263243973255
Epoch  39 MSE:  0.005536911077797413
Epoch  40 MSE:  0.0056274933740496635
Epoch  41 MSE:  0.005666077136993408
Epoch  42 MSE:  0.005370377097278833
Epoch  43 MSE:  0.004697556607425213
Epoch  44 MSE:  0.003917694091796875
Epoch  45 MSE:  0.003319472074508667
Epoch  46 MSE:  0.002982599660754204
Epoch  47 MSE:  0.0028193097095936537
Epoch  48 MSE:  0.0027242025826126337
Epoch  49 MSE:  0.002655145013704896
Epoch  50 MSE:  0.0026171046774834394
Epoch  51 MSE:  0.0026092971675097942
Epoch  52 MSE:  0.0025971343275159597
Epoch  53 MSE:  0.002530166646465659
Epoch  54 MSE:  0.0023837201297283173
Epoch  55 MSE:  0.002183258766308427
Epoch  56 MSE:  0.0019887734670192003
Epoch  57 MSE:  0.0018534640548750758
Epoch  58 MSE:  0.001791686867363751
Epoch  59 MSE:  0.0017791114514693618
Epoch  60 MSE:  0.001778690842911601
Epoch  61 MSE:  0.001766868750564754
Epoch  62 MSE:  0.001739370753057301
Epoch  63 MSE:  0.001697963452897966
Epoch  64 MSE:  0.0016377593856304884
Epoch  65 MSE:  0.0015512049430981278
Epoch  66 MSE:  0.0014429278671741486
Epoch  67 MSE:  0.0013348145876079798
Epoch  68 MSE:  0.001251982874237001
Epoch  69 MSE:  0.0012034819228574634
Epoch  70 MSE:  0.0011774087324738503
Epoch  71 MSE:  0.0011536508100107312
Epoch  72 MSE:  0.001120115164667368
Epoch  73 MSE:  0.0010777271818369627
Epoch  74 MSE:  0.0010327951749786735
Epoch  75 MSE:  0.000987619743682444
Epoch  76 MSE:  0.0009399748523719609
Epoch  77 MSE:  0.0008902897825464606
Epoch  78 MSE:  0.0008455715142190456
Epoch  79 MSE:  0.0008135816315189004
Epoch  80 MSE:  0.0007941739750094712
Epoch  81 MSE:  0.0007789374212734401
Epoch  82 MSE:  0.000759584887418896
Epoch  83 MSE:  0.0007346930797211826
Epoch  84 MSE:  0.0007076297770254314
Epoch  85 MSE:  0.0006804349250160158
Epoch  86 MSE:  0.0006525389617308974
Epoch  87 MSE:  0.000624645093921572
Epoch  88 MSE:  0.0006003074231557548
Epoch  89 MSE:  0.000582178239710629
Epoch  90 MSE:  0.000568576215300709
Epoch  91 MSE:  0.0005553888040594757
Epoch  92 MSE:  0.0005404914263635874
Epoch  93 MSE:  0.0005249600508250296
Epoch  94 MSE:  0.000510463840328157
Epoch  95 MSE:  0.0004971822490915656
Epoch  96 MSE:  0.00048479525139555335
Epoch  97 MSE:  0.0004740367585327476
Epoch  98 MSE:  0.0004658414691220969
Epoch  99 MSE:  0.0004594762867782265
Training time: 29.426726818084717

In [18]:
class GRU(nn.Module):
    def __init__(self, input_dim, hidden_dim, num_layers, output_dim):
        super(GRU, self).__init__()
        self.hidden_dim = hidden_dim
        self.num_layers = num_layers
        
        self.gru = nn.GRU(input_dim, hidden_dim, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_dim, output_dim)

    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_dim).requires_grad_()
        out, (hn) = self.gru(x, (h0.detach()))
        out = self.fc(out[:, -1, :]) 
        return out

In [19]:
model = GRU(input_dim=input_dim, hidden_dim=hidden_dim, output_dim=output_dim, num_layers=num_layers)
criterion = torch.nn.MSELoss(reduction='mean')
optimiser = torch.optim.Adam(model.parameters(), lr=0.01)

In [20]:
import time
hist = np.zeros(num_epochs)
start_time = time.time()
lstm = []
for t in range(num_epochs):
    y_train_pred = model(x_train)
    loss = criterion(y_train_pred, y_train_lstm)
    print("Epoch ", t, "MSE: ", loss.item())
    hist[t] = loss.item()
    optimiser.zero_grad()
    loss.backward()
    optimiser.step()
    
training_time = time.time()-start_time
print("Training time: {}".format(training_time))

Epoch  0 MSE:  0.44344866275787354
Epoch  1 MSE:  0.19219444692134857
Epoch  2 MSE:  0.1272525191307068
Epoch  3 MSE:  0.16925549507141113
Epoch  4 MSE:  0.1050383672118187
Epoch  5 MSE:  0.06657137721776962
Epoch  6 MSE:  0.06142337620258331
Epoch  7 MSE:  0.0565544031560421
Epoch  8 MSE:  0.035820722579956055
Epoch  9 MSE:  0.00840685237199068
Epoch  10 MSE:  0.005562870763242245
Epoch  11 MSE:  0.02881527878344059
Epoch  12 MSE:  0.019189655780792236
Epoch  13 MSE:  0.007053830660879612
Epoch  14 MSE:  0.012720762751996517
Epoch  15 MSE:  0.01835642382502556
Epoch  16 MSE:  0.01439759973436594
Epoch  17 MSE:  0.0057145701721310616
Epoch  18 MSE:  0.0006934403791092336
Epoch  19 MSE:  0.003055660054087639
Epoch  20 MSE:  0.008107227273285389
Epoch  21 MSE:  0.008931153453886509
Epoch  22 MSE:  0.005735555663704872
Epoch  23 MSE:  0.00337175908498466
Epoch  24 MSE:  0.0039126938208937645
Epoch  25 MSE:  0.00555171025916934
Epoch  26 MSE:  0.00582509208470583
Epoch  27 MSE:  0.0040573314763605595
Epoch  28 MSE:  0.001623653108254075
Epoch  29 MSE:  0.0005642540054395795
Epoch  30 MSE:  0.00150336476508528
Epoch  31 MSE:  0.002823818475008011
Epoch  32 MSE:  0.002721648197621107
Epoch  33 MSE:  0.001596891670487821
Epoch  34 MSE:  0.001081156195141375
Epoch  35 MSE:  0.0016297200927510858
Epoch  36 MSE:  0.00226653553545475
Epoch  37 MSE:  0.0020693300757557154
Epoch  38 MSE:  0.0011807770933955908
Epoch  39 MSE:  0.0004899087944068015
Epoch  40 MSE:  0.0005706383963115513
Epoch  41 MSE:  0.0010508270934224129
Epoch  42 MSE:  0.0011780464556068182
Epoch  43 MSE:  0.0008297759341076016
Epoch  44 MSE:  0.0005364678800106049
Epoch  45 MSE:  0.0006501724710687995
Epoch  46 MSE:  0.0009428070625290275
Epoch  47 MSE:  0.001000315067358315
Epoch  48 MSE:  0.0007368334336206317
Epoch  49 MSE:  0.0004444854857865721
Epoch  50 MSE:  0.0004062705847900361
Epoch  51 MSE:  0.0005521858693100512
Epoch  52 MSE:  0.000594389159232378
Epoch  53 MSE:  0.0004510540165938437
Epoch  54 MSE:  0.0003304902056697756
Epoch  55 MSE:  0.0003884817415382713
Epoch  56 MSE:  0.0005173421232029796
Epoch  57 MSE:  0.0005312738358043134
Epoch  58 MSE:  0.00042094578384421766
Epoch  59 MSE:  0.00033566425554454327
Epoch  60 MSE:  0.00035923687391914427
Epoch  61 MSE:  0.00040648100548423827
Epoch  62 MSE:  0.0003752967750187963
Epoch  63 MSE:  0.000302255735732615
Epoch  64 MSE:  0.00028674735222011805
Epoch  65 MSE:  0.0003350338665768504
Epoch  66 MSE:  0.00036661053309217095
Epoch  67 MSE:  0.0003402064030524343
Epoch  68 MSE:  0.00030175948631949723
Epoch  69 MSE:  0.00030299663194455206
Epoch  70 MSE:  0.00032507628202438354
Epoch  71 MSE:  0.00031848743674345315
Epoch  72 MSE:  0.0002850683522410691
Epoch  73 MSE:  0.00026916651404462755
Epoch  74 MSE:  0.00028411170933395624
Epoch  75 MSE:  0.0002976233954541385
Epoch  76 MSE:  0.0002878279483411461
Epoch  77 MSE:  0.0002732311259023845
Epoch  78 MSE:  0.000276153557933867
Epoch  79 MSE:  0.0002862227847799659
Epoch  80 MSE:  0.00028169076540507376
Epoch  81 MSE:  0.00026658872957341373
Epoch  82 MSE:  0.00026083283592015505
Epoch  83 MSE:  0.0002665208012331277
Epoch  84 MSE:  0.0002684902283363044
Epoch  85 MSE:  0.0002616913989186287
Epoch  86 MSE:  0.000257080071605742
Epoch  87 MSE:  0.0002605835616122931
Epoch  88 MSE:  0.00026363437063992023
Epoch  89 MSE:  0.00025925436057150364
Epoch  90 MSE:  0.00025328007177449763
Epoch  91 MSE:  0.0002527017204556614
Epoch  92 MSE:  0.0002542579604778439
Epoch  93 MSE:  0.0002520626876503229
Epoch  94 MSE:  0.00024811094044707716
Epoch  95 MSE:  0.0002475840738043189
Epoch  96 MSE:  0.0002493464562576264
Epoch  97 MSE:  0.0002486563753336668
Epoch  98 MSE:  0.0002456807706039399
Epoch  99 MSE:  0.0002442270051687956
Training time: 22.97732925415039